:root {
  --green-300: #015135;
  --green-500: #014830;
  --green-700: #013b27;
}

.title {
  color: var(--green-500);
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.table {
  width: 100%;
  border-collapse: collapse;
  tr {
    th {
      background-color: var(--green-500);
      color: #fff;
      text-align: left;
      font-size: 14px;
      text-transform: uppercase;
      padding: 4px 8px;
    }
    td {
      background-color: #f0f7f5;
      font-size: 14px;
      padding: 4px 8px;
      line-height: 0.7;

      img {
        width: 30px;
        height: 30px;
      }
    }
    &:hover {
      td{
        background-color: #d0e5de;
      }
    }
  }

  tbody {
    & > tr {
      border-bottom: 2px solid #fff;
    }
  }
}

.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}