<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /stobe/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /stobe/index.html [L]
</IfModule>